@model IPagedList<DuAnRapChieuPhim.Models.LoaiVoucher>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Voucher";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar
                </div>

            </div>
        </div>-->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <div class="input-group input-group-outline">
                        <label class="form-label">Type here...</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        @if (TempData["ErrorMessage"] != null)
        {
            <div id="messageContainer" class="alert" style="background-color: #ff9999; color: white; font-weight:400;">
                @TempData["ErrorMessage"]
            </div>
        }

        @if (TempData["SuccessMessage"] != null)
        {
            <div id="messageContainer" class="alert" style="background-color: #71da71; color: white; font-weight: 400;">
                @TempData["SuccessMessage"]
            </div>
        }
        <button type="button" class="btn btn-primary createNewButton" data-toggle="modal" data-target="#addMovieModal">
            Thêm voucher
        </button>
        <table class="table">
            <tr>
                <th>
                    Loại giảm giá
                </th>
                <th>
                    Giảm giá
                </th>
                <th>
                    Điểm
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoaiGiamGia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiamGia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diem)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary edit-button" data-toggle="modal" data-target="#editMovieModal" data-id="@item.id">
                            <i style="color:white;" class="fa fa-pen"></i>
                        </button>
                        <button type="button" class="btn btn-danger delete-button" data-toggle="modal" data-target="#deleteConfirmationModal" data-id="@item.id">
                            <i style="color:white;" class="fa fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }

        </table>
        <div class="pagination justify-content-center">
            <ul class="pagination">
                @if (Model.PageCount > 1)
                {
                    <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Voucher", new { page = 1, size = ViewBag.SelectedSize })">Đầu</a>
                    </li>
                    <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Voucher", new { page = Model.PageNumber - 1, size = ViewBag.SelectedSize })">Trước</a>
                    </li>
                    for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Voucher", new { page = i, size = ViewBag.SelectedSize })">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Voucher", new { page = Model.PageNumber + 1, size = ViewBag.SelectedSize })">Sau</a>
                    </li>
                    <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Voucher", new { page = Model.PageCount, size = ViewBag.SelectedSize })">Cuối</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</main>
<div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog" aria-labelledby="addMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMovieModalLabel">Thêm voucher</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Your form goes here -->
                <!-- Add form fields here -->
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken();
                    <div class="form-group">
                        <label for="LoaiGiamGia" class="control-label">Chọn loại giảm giá</label>
                        <select id="LoaiGiamGia" name="LoaiGiamGia" class="form-control">
                            <option value="Phim">Phim</option>
                            <option value="Combo">Combo</option>
                        </select>
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>

                    <div class="form-group">
                        <label for="SoLuong" class="control-label">Nhập số phần trăm giảm giá</label>

                        <!-- Sử dụng thẻ <input type="number"> để chọn số lượng -->
                        <input type="number" id="GiamGia" name="GiamGia" class="form-control" />

                        <span class="text-danger"><!-- Validation message for Số lượng goes here --></span>
                    </div>
                    <div class="form-group">
                        <label for="Diem" class="control-label">Nhập số điểm quy đổi</label>

                        <!-- Sử dụng thẻ <input type="number"> để chọn số lượng -->
                        <input type="number" id="Diem" name="Diem" class="form-control" />

                        <span class="text-danger"><!-- Validation message for Số lượng goes here --></span>
                    </div>
                    <div class="form-group">
                        <label for="sl" class="control-label">Nhập số lượng voucher</label>

                        <!-- Sử dụng thẻ <input type="number"> để chọn số lượng -->
                        <input type="number" id="sl" name="sl" class="form-control" />

                        <span class="text-danger"><!-- Validation message for Số lượng goes here --></span>
                    </div>

                    <!-- Add other form fields as needed -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary huy-button" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary saveChangesButton">Save changes</button>
                        <button id="ThemButton" type="submit" class="btn btn-primary">Lưu</button>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa không ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary huy-button" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Chắc chắn</button>

            </div>
        </div>
    </div>
</div>
<input type="hidden" id="selectedItemId" />

<script>
    function resetModalState() {
        $("#LoaiGiamGia, #Diem, #GiamGia, #addMovieModalLabel,#sl").val("");
        $("#saveChangesButton, #ThemButton").show();
        $("#LoaiGiamGia, #Diem, #GiamGia, #addMovieModalLabel,#sl").prop("disabled", false);
    }
    $(document).ready(function () {


        $(".createNewButton").click(function () {
            resetModalState();
            $("#addMovieModalLabel").val("Thêm");
            $("#saveChangesButton").hide();
            $("#addMovieModal").modal("show");
        });
    });
    $(document).ready(function () {
        $(".saveChangesButton").click(function () {
            // Gọi hành động sửa ở đây
            $("#myForm").attr("action", "/XuLy/EditVC");
            $("#myForm").submit();
        });
        function validateInputText(input_id, obj_name) {
            var input_val = $("#" + input_id).val();
            if (!input_val) {
                alert("Vui lòng điền " + obj_name);
                $("#" + input_id).focus();
                return false;
            }
            return true;
        }
        $("#ThemButton").click(function () {
            if (!validateInputText("LoaiGiamGia", "loại giảm giá")) { return false; };
            if (!validateInputText("GiamGia", "giảm giá")) { return false; };
            if (!validateInputText("Diem", "điểm")) { return false; };
            if (!validateInputText("sl", "số lượng")) { return false; };
            $("#myForm").attr("action", "/XuLy/AddVC");
            $("#myForm").submit();
        });
    });
    $("#confirmDeleteButton").click(function (e) {
        e.preventDefault();
        // Lấy giá trị từ input có id là "selectedItemId"
        var selectedItemId = $("#selectedItemId").val();

        // Kiểm tra xem giá trị có tồn tại không
        if (selectedItemId) {
            // Gọi action trong controller với giá trị selectedItemId
            // Thay đổi đường dẫn và phương thức HTTP tùy thuộc vào ứng dụng của bạn
            $.ajax({
                url: "/XuLy/DLVC", // Đường dẫn đến action trong controller
                method: "POST", // Phương thức HTTP (POST, GET, PUT, DELETE, etc.)
                data: { itemId: selectedItemId }, // Dữ liệu gửi đi (nếu cần)
                success: function (response) {
                    // Xử lý khi action thành công
                    console.log("Action thành công", response);
                    window.location.href = "/Admin/Admin/Voucher";
                },
                error: function (error) {
                    // Xử lý khi có lỗi xảy ra
                    console.error("Lỗi khi gọi action", error);
                }
            });
        } else {
            // Thông báo nếu giá trị không tồn tại
            console.warn("Không có giá trị được chọn");
        }
    });
    $(document).ready(function () {
        $(".edit-button").click(function () {
            resetModalState();
            var itemId = $(this).data("id");
            $("#selectedItemId").val(itemId);

            // Gửi yêu cầu Ajax để lấy dữ liệu cho mục đã chọn
            $.ajax({
                url: '/XuLy/EditVC', // Thay thế bằng tên thực của controller và action
                type: 'GET',
                data: { id: itemId },
                success: function (data) {
                    $("#addMovieModalLabel").val("Sửa");
                    // Điền dữ liệu vào các trường trong modal
                    $("#LoaiGiamGia").val(data.tk.LoaiGiamGia);
                    $("#GiamGia").val(data.tk.GiamGia);
                    $("#Diem").val(data.tk.Diem);
                    $("#sl").val(data.tk.sl);
                    $("#ThemButton").hide();
                    // Hiển thị modal
                    $("#addMovieModal").modal("show");
                },
                error: function () {
                    alert("Lỗi khi lấy dữ liệu.");
                }
            });
        });
    });
    $(document).ready(function () {
        $('.delete-button').click(function (e) {
            e.preventDefault();
            var itemId = $(this).data("id");
            $("#selectedItemId").val(itemId);
            $('#confirmDeleteModal').modal('show');
        });
    });
    $(document).ready(function () {
        $('.huy-button').click(function (e) {
            $('#confirmDeleteModal').modal('hide');
            $('#addMovieModal').modal('hide');
        });
    });

    $(document).ready(function () {
        setTimeout(function () {
            $("#messageContainer").fadeOut();
        }, 3000);
    });


</script>